@charset "ISO-8859-1";
#nav>a{
	text-decoration: none;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
	margin-bottom: 10px;
	display:inline-block;
	width: 200px;
	text-align: center;
	font-weight: bold;
	color: black;
	z-index: 5;
	position: fixed;
}
#nav>a:active {
	padding: 8px;
	background-color: #72A3CE;
	box-shadow: 5px 5px 8px black;
}
#nav>a:hover{
	background-color: #72A3CE;
	box-shadow: 5px 5px 10px black;
}